@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body{
    background-color:rgb(37, 38, 41);
    font-family: "VT323", monospace;
    color: rgb(66, 158, 219);
}

header{
    color: rgb(66, 158, 219);
    font-size: 45px;
    padding: 20px;
    text-align: center;
}

footer{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.main{
    display:flex;
    justify-content:space-evenly;
    
}

.container{
    display:flex;
    width:600px;
    height:600px;
    flex-wrap:wrap;
    align-content:flex-start;
    background-color: white;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(66, 158, 219);
    flex-shrink:0;
}

.menu{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    font-size:30px;
    flex-shrink:0;
}

button{
    
    color: rgb(66, 158, 219);
    background:  #181a1d;
    font-weight:bold;
    padding: 8px 35px 8px 35px; 
    border-radius:10px;
    border-width: 3px;
    border-color: rgb(66, 158, 219);
    cursor: pointer;
}

input[value="Submit"] {
    color: rgb(66, 158, 219);
    background:  #181a1d;
    font-weight:bold;
    padding: 5px 10px 5px 10px; 
    border-radius:10px;
    border-width: 3px;
    border-color: rgb(66, 158, 219);
    cursor: pointer;
}

.gridInputForm{
    display:flex;
    gap: 8px;
}

.cell{
    box-sizing:border-box;
    border-style:solid;
    border-width:1px;
    border-top-width:0px;
    border-color:rgba(0, 0, 0, 0.623);
    border-right-width:0px;
}